@use 'sass:color';

.container {
  padding: 1rem;
  margin: 0 auto;

  &Question {
    margin: 5rem 0 3rem 0;
    background-color: var(--purple-dark);
    border-radius: 7px;
    padding: 0.8rem 1rem;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .correct {
    background-color: var(--green);
  }

  .incorrect {
    background-color: var(--red);
  }

  &Answers {
    width: 100%;
    background-color: var(--purple-light);
    border-radius: 7px;
    border: none;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1rem;
    text-align: left;
    transition: filter 0.3s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:disabled {
      cursor: default;
    }

    &:not(:disabled):hover {
      filter: brightness(0.9);
    }
  }

  &Button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 1rem;

    button {
      font-size: 1.2rem;

      background-color: var(--purple-dark);
      padding: 0.5rem 2rem;
      border: none;
      border-radius: 7px;
      font-weight: 700;
      transition: filter 0.3s;

      &:not(:disabled):hover {
        filter: brightness(0.9);
      }

      &:disabled {
        background-color: var(--purple-light);
        cursor: default;
      }
    }
  }

  &Progress {
    margin-top: 3rem;
    width: 100%;
    height: 3px;
    background-color: #d6d6d6;

    .progressBar {
      display: block;
      background-color: var(--green);
      height: 3px;
      position: relative;

      & ~ p {
        color: var(--purple-dark);
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 1rem;
        font-size: 1.2rem;

        span {
          font-size: 0.9rem;
        }
      }
    }
  }

  // Page of result

  &Result {
    margin-top: 5rem;
    border-radius: 5px;
    background-color: var(--purple-dark);
    padding: 2rem;

    h1 {
      color: var(--white);
      font-size: 1.7rem;
      text-align: center;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      color: var(--white);
      opacity: 0.9;
      font-size: 1.2rem;

      .totalCorrect,
      .totalIncorrect {
        font-weight: 900;
      }

      .totalCorrect {
        color: rgb(21, 218, 119);
      }

      .totalIncorrect {
        color: rgb(252, 73, 73);
      }
    }

    .contentHitRat {
      display: flex;
      color: rgba($color: #ffffff, $alpha: 0.6);
      justify-content: center;
      margin: 1rem 0 1.5rem;
      font-weight: 600;
      font-size: 1.2rem;
    }

    .containerLink {
      display: flex;
      justify-content: center;

      a {
        background-color: var(--white);
        border-radius: 5px;
        color: var(--purple-dark);
        padding: 0.5rem 1rem;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        transition: filter 0.3s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    width: 70%;
    margin-top: 5rem;

    &Result {
      width: 100%;
      max-width: 600px;
      padding: 2rem;
      margin: 0 auto;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 1.5;

        & + p {
          margin-bottom: 1.5rem;
        }
      }

      span {
        font-size: 1.5rem;
      }

      a {
        font-size: 1.3rem;
      }
    }
  }
}
