@use "sass:color";

.container {
  width: 80%;
  margin: 0 auto;

  &Question {
    margin: 5rem 0 3rem 0;
    background-color: var(--dark-blue);
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    text-align: center;

    h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  .correct {
    background-color: #00a349;
  }

  .incorrect {
    background-color: #a33026;
  }

  &Answers {
    width: 100%;
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1rem;
    text-align: left;
    transition: filter 0.3s;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:disabled {
      cursor: default;
    }

    &:not(:disabled):hover {
      filter: brightness(0.9);
    }
  }

  &Button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    button {
      margin-top: 1rem;
      width: 40%;

      background-color: var(--dark-blue);
      padding: 0.5rem 0;
      border: none;
      border-radius: 0.7rem;
      font-weight: 700;
      transition: filter 0.3s;

      &:not(:disabled):hover {
        filter: brightness(0.9);
      }

      &:disabled {
        cursor: default;
      }
    }
  }

  // Page of result

  &Result {
    margin-top: 8rem;
    padding: 2rem 2rem;
    background-color: var(--dark-blue);

    h1 {
      color: var(--peach);
      font-size: 1.5rem;
      text-align: center;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    p {
      color: #bfb2aa;

      & + p {
        margin-bottom: 1.5rem;
      }
    }

    span {
      display: flex;
      color: var(--light-blue);
      justify-content: center;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    .containerLink {
      display: flex;
      justify-content: center;

      a {
        background-color: var(--white);
        border-radius: 5px;
        color: var(--dark-blue);

        padding: 0.5rem;
        font-weight: 600;
        text-align: center;
        transition: filter 0.3s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    width: 70%;

    &Result {
      width: 100%;

      padding: 4rem 8rem;
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
        line-height: 1.5;
      }

      span {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }

      a {
        font-size: 1.3rem;
      }
    }
  }
}
